<!-- ---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>


<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style> -->


---
const { platform, username } = Astro.props;

let url = "";

if (platform === "linkedin") {
  url = "https://www.linkedin.com/in/" + username;
} else {
  url = "https://www." + platform + ".com/" + username;
}
---

<a href={url}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #291d95;
    text-decoration: none;
  }
</style>